.companyUserTable {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    margin: 4% auto;
    /* display: flex; */
    cursor: pointer;
    width: 70%;

    border-radius: 12px;
    transition: all ease-in-out 0.2s;
    font-weight: bold;


}

.companyUserTable:hover {
    background-color: #F4F6FA;
}

.companyUserTable div {
    margin-left: 3%;
    padding: 2%;
}

.clickToCopyAccNo {
    position: absolute;
    margin-left: 0 !important;
    font-size: 0.7em;
    padding-left: auto !important;
    background-color: #232323;
    color: white;
    height: 0;
    border-radius: 36px;
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: center;
    opacity: 0;
    /* transform: scaleY(0.5);   */
    transition: all ease-out 0.2s;
    margin-top: 2%;
    transform-origin: 0  0%;
}

.accountNoCompanyAcc {
    display: flex;
    flex-direction: column;
    
}
.companyAccountListCloseBtn{
    background-color: transparent;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: #232323;
}
.accountListSearchCompanyDiv {
    display: flex;
    justify-content: center;
    /* margin-top: 5%; */
    width: 44%;
}
.topNavCompanyItems{
    display: flex;
    margin: 5%;
}
.accAddUser{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.companyBackArea{
    background-color: black;
    position: absolute;
    height: 200vh;
    width: 100%;
    display: none;
    top: 0;
    
    opacity: 0.8;
}
.addUserPopupWindow{
    position: fixed;
    left: 35%;
    /* right: 50; */
    background-color: white;
    height: 20vh;
    width: 30%;
    margin: auto;
    text-align: center;
    border-radius:15px ;
    display: none;
    top: 35vh;
    flex-direction: column;
    justify-content: center;
}
.btnAddUserPopupDiv button{
    cursor: pointer;
}

.viewCertUser{
    margin-left: 5%;
}